HA-p1-gas-usage-alert/HA-p1-gas-usage-alert.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Gas check","disabled":false,"info":""},{"id":"306214704eee69a3","type":"inject","z":"f6f2187d.f17ca8","name":"Check current gas usage","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":280,"wires":[["35e4ee970896b0af"]]},{"id":"35e4ee970896b0af","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"${HA-HOST}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":390,"y":280,"wires":[["98c60d3f7bcc56f1"]]},{"id":"98c60d3f7bcc56f1","type":"function","z":"f6f2187d.f17ca8","name":"Parse usage amount","func":"var state = parseFloat(msg.payload.state);\n\nmsg.payload = state;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["72e780ee197bf8c4"]]},{"id":"ad4584ee4bf86859","type":"function","z":"f6f2187d.f17ca8","name":"Update alert amount","func":"var state = parseFloat(msg.payload.state);\n\nstate += parseFloat(env.get(\"HA-ALERT-AFTER\"));\n\nglobal.set(\"alert-after\", state);\nmsg.payload = state;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["e48b52c7d73f886b"]]},{"id":"72e780ee197bf8c4","type":"switch","z":"f6f2187d.f17ca8","name":"Check if to alert","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"alert-after","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":360,"wires":[["70450560a2fb7d8a"]]},{"id":"d38cc6d102b6827b","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"${HA-HOST}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[],"x":450,"y":100,"wires":[["ad4584ee4bf86859"]]},{"id":"e48b52c7d73f886b","type":"debug","z":"f6f2187d.f17ca8","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":160,"wires":[]},{"id":"0525b16f33e8bb92","type":"http request","z":"f6f2187d.f17ca8","name":"Send alert","method":"POST","ret":"obj","paytoqs":"ignore","url":"${NTFY-URL}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[{"keyType":"other","keyValue":"Title","valueType":"other","valueValue":"Gas usage alert"},{"keyType":"other","keyValue":"Priority","valueType":"other","valueValue":"4"},{"keyType":"other","keyValue":"Tags","valueType":"other","valueValue":"warning"},{"keyType":"other","keyValue":"Message","valueType":"msg","valueValue":"payload"}],"x":590,"y":360,"wires":[["a008106b51be612b"]]},{"id":"70450560a2fb7d8a","type":"function","z":"f6f2187d.f17ca8","name":"Create ntfy message string","func":"msg.payload = `Gas usage went above ${global.get('alert-after')}m3.`;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":360,"wires":[["0525b16f33e8bb92"]]},{"id":"a008106b51be612b","type":"debug","z":"f6f2187d.f17ca8","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"66bee38559ed863c","type":"cronplus","z":"f6f2187d.f17ca8","name":"Time update","outputField":"payload","timeZone":"Europe/Amsterdam","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 1 0 * * * *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":270,"y":100,"wires":[["d38cc6d102b6827b"]]},{"id":"cae839eb3538927d","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["66bee38559ed863c"]]},{"id":"89d6df7e52336da3","type":"comment","z":"f6f2187d.f17ca8","name":"Function to reset the alert amount at midnight","info":"Function to reset the alert amount at midnight","x":210,"y":60,"wires":[]},{"id":"7d512f72cfd226ee","type":"comment","z":"f6f2187d.f17ca8","name":"Check the gas usage every minute to check if it is above the set limit","info":"","x":280,"y":240,"wires":[]}]